<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>God of War</title>
  <!-- favicon -->
  <link rel="shortcut icon" type="text/css" href="/img/favicon.ico">
  <!-- swiper -->
  <link rel="stylesheet" href="https://unpkg.com/swiper@8/swiper-bundle.min.css"/>
  <link rel="stylesheet" type="text/css" href="/css/introduce.css">
  <!-- xeicon -->
  <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css">
</head>

<body style="position:relative;">


<div class="wrap" style="position:absolute; width:100%;">
  <div class="banner title_00" data-parallax="scroll" >
    <div class="fir_title_name">
      <img src="/img/introduce/info.png" alt="">
    </div>
    <div>
      <div class="info_container">
        <!-- <div class="move_bg">
            <img  data-depth="0.11" src="/img/introduce/weapon_ax_01.png" alt="">
            <img  data-depth="0.25" src="/img/introduce/weapon_shield_01.png" alt="">
        </div> -->

        <div class="swiper">
          <div class="swiper-wrapper">
            <div class="swiper-slide dark">
              <div class="title_text">
                <img  src="/img/introduce/title_text_playstaion.png" alt="">
              </div>
              <div class="line"></div>
              <div class="text">
                <img src="/img/introduce/text_playstaion.png" alt="">
              </div>
              <div class="structure_04">
                <img src="/img/introduce/playlogo(white).png" alt="">
              </div>
            </div>

            <div class="swiper-slide dark">
              <div class="title_text">
                <img src="/img/introduce/title_text_chance.png" alt="">
              </div>
              <div class="line"></div>
              <div class="text">
                <img src="/img/introduce/text_chance.png" alt="">
              </div>
              <div class="structure_02">
                <img src="/img/introduce/structure_02.png" alt="">
              </div>
            </div>

            <div class="swiper-slide dark">
              <div class="title_text">
                <img src="/img/introduce/title_text_beginning.png" alt="">
              </div>
              <div class="line"></div>
              <div class="text">
                <img src="/img/introduce/text_beginning.png" alt="">
              </div>
              <div class="structure_01">
                <img src="/img/introduce/structure_01.png" alt="">
              </div>
            </div>

            <div class="swiper-slide dark">
              <div class="title_text">
                <img src="/img/introduce/title_text_dark.png" alt="">
              </div>
              <div class="line"></div>
              <div class="text">
                <img src="/img/introduce/text_dark.png" alt="">
              </div>
              <div class="structure_03">
                <img src="/img/introduce/structure_03.png" alt="">
                <!-- <img data-depth="0.5" src="/img/introduce/weapon_ax_01.png" alt=""> -->
              </div>
            </div>
          </div>
          <div class="swiper-button-next"></div>
          <div class="swiper-button-prev"></div>
        </div>



      </div>
    </div>
  </div>

  <div class="blank title_01">
    <div class="title_01_cotainer">
      <div class="title_text_box">
        <div>
          <h2>Explore the God of War series</h2>
        </div>
        <p>
          Browse the full range of titles in the series and learn more about Kratos' story on the official God of War hub.
        </p>
        <div class="cta">
          <span>Find out more</span>
          <svg width="13px" height="10px" viewBox="0 0 13 10">
            <path d="M1,5 L11,5"></path>
            <polyline points="8 1 12 5 8 9"></polyline>
          </svg>
        </div>
      </div>
    </div>
  </div>


  <div class="banner title_02" data-parallax="scroll" >
    <div class="monster_gird">
      <div class="monster_box">
        <div>
          <u>BEHIND-THE-SCENES BESTIARY</u>
        </div>
        <h2>
          The monsters of God of War
        </h2>
        <p>
          Discover some of the terrifying creatures you’ll encounter during your perilous journey.  Witness their transformation from sketch, to digital painting, to a fully animated in-game character.
        </p>
      </div>
    </div>
    <div class="contents_box">
      <figure class="pop">
        <img src="/img/introduce/maxresdefault.jpg" alt="">
        <figcaption>Revenant</figcaption>

      </figure>


      <figure  class="pop2">
        <img src="/img/introduce/maxresdefault_2.jpg" alt="">
        <figcaption>Draugrt</figcaption>

      </figure>


      <figure  class="pop3">
        <img src="/img/introduce/maxresdefault_3.jpg" alt="">
        <figcaption>Fire Troll</figcaption>

      </figure>

    </div>
    <!-- video part -->
    <div class="black_bg v1" style="display: none;">
      <div class="close"><a onclick="offClick()" >×</a></div>
      <div class="sc01_pop_contents">

        <iframe width="883" height="497" src="https://www.youtube.com/embed/R9D5o4gSGcc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

      </div>
    </div>
    <div class="black_bg v2" style="display: none;">
      <div class="close"><a onclick="offClick()" >×</a></div>
      <div class="sc01_pop_contents">

        <iframe width="883" height="497" src="https://www.youtube.com/embed/Ta5aBK0WrSo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

      </div>
    </div>
    <div class="black_bg v3" style="display: none;">
      <div class="close"><a onclick="offClick()" >×</a></div>
      <div class="sc01_pop_contents">
        <iframe width="883" height="497" src="https://www.youtube.com/embed/h3-y2MiXlYQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
    </div>
    <!-- video part -->
    <div class="contents_text">
      <p>Witness the power of this fearsome sorceress, twisted by zealous devotion to Seider magic.</p>
      <p>Feel the dread of an undead horror, fuelled by pure rage – a veritable blight on Midgard. </p>
      <p>Fear the monstrous visage of this solitary creature with incredible strength and elemental powers.</p>
    </div>
  </div>

  <div class="blank title_03" id="blank_02">
    <div class="bg_gradient">
      <div class="title_03_container">
        <div class="title_03_text">
          <img src="/img/introduce/title_03_text_01.png" alt="">
        </div>
        <div class="title_03_sub_text">
          <img src="/img/introduce/title_03_text_02.png" alt="">
        </div>
      </div>
    </div>
    <div class="video_container">
      <video class="title_03_video" loop muted autoplay>
        <source src="https://gmedia.playstation.com/is/content/SIEPDC/global_pdc/en/games/pdps/g/go/god-of-war/video/god-of-war-hero-video-us-18oct17.mp4" type="video/mp4">
        <source src="https://gmedia.playstation.com/is/content/SIEPDC/global_pdc/en/games/pdps/g/go/god-of-war/video/god-of-war-hero-video-us-18oct17.mp4" type="video/webm">
      </video>
    </div>
  </div>
  <!-- <div class="blank"></div> -->
  <div class="banner2 title_04" data-parallax="scroll" >
    <div class="troll">
      <img src="/img/introduce/god-of-war-fire-troll-key-art-01.png" alt="">
    </div>
    <div class="title_01_cotainer">
      <div class="title_text_box">
        <div>
          <h2>God of War’s monsters </h2>
        </div>
        <p>
          Get closer to the terrifying beasts that await you on Kratos and Atreus’ perilous quest.<br>
          <br>
          Do you have the nerve to face off against the likes of the undead Draugr, the magical Revenant, or the fearsome Fire Troll?
        </p>
        <div class="cta">
          <span>Watch all videos</span>
          <svg width="13px" height="10px" viewBox="0 0 13 10">
            <path d="M1,5 L11,5"></path>
            <polyline points="8 1 12 5 8 9"></polyline>
          </svg>
        </div>
      </div>
    </div>
  </div>
  <!-- <div class="banner2" data-parallax="scroll" ></div> -->
  <div class="banner footer">
    <div class="footer_area_grid">
      <div>
        <div class="footer_area_wrap">
          <div class="ps_logo">
            <img src="/img/introduce/ps-bug.png" alt="">
            <div>
              <i class="xi-globus"></i>
              <p>Country / Region: United States</p>
            </div>
          </div>
        </div>
        <div class="footer_menu">
          <ul>
            <li>Support</li>
            <li>Privacy policy</li>
            <li>Website terms of use</li>
            <li>PlayStation Studios</li>
            <li>Legal</li>
            <li>About SIE</li>
            <li>PlayStaion and the<br>environment</li>
          </ul>
          <ul>
            <li>PSN therms of service</li>
            <li>PS Store cancellation policy</li>
            <li>Health warning</li>
            <li>About ratings</li>
            <li>Press release</li>
            <li>Careers</li>
            <li>Developers</li>
            <li>Site map</li>
          </ul>
          <ul>
            <li>Facebook</li>
            <li>Twitter</li>
            <li>YouTube</li>
            <li>Instagram</li>
          </ul>
        </div>
      </div>
      <div class="footer_area_grid2" style="display: flex; ">
        <div >
          <div style="width:50%;">
            <img src="/img/introduce/sie.svg" alt="">
          </div>
          <p>&copy; 2022 Sony Interactitive Entertainment LLC</p>
        </div>
        <div style="width:5%;">
          <img src="/img/introduce/esrb.svg" alt="">
        </div>
      </div>
    </div>
  </div>
  <!-- <div class="blank"></div> -->
</div>
<script src="/godjs/parallax.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<!-- jquery cdn -->
<script src="https://code.jquery.com/jquery-3.6.0.js"
        integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/parallax/3.1.0/parallax.min.js"></script>
<script src="https://unpkg.com/swiper@8/swiper-bundle.min.js"></script>
<!-- js -->
<script src="/godjs/introduce.js"></script>
<!-- parallax -->
<script src="/godjs/parallax.js"></script>
</body>
</html>