<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
    <link rel="shortcut icon" href="/img/favicon.ico">
    <link rel="stylesheet" href="/css/login.css" type="text/css">
    <!-- scroll -->
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">


</head>
<body>
<div class="topline">

    <div class="logo_grid">
        <h1 class="logo">
            <a href="/index.html"><img src="/img/LOGO.png" alt="로고"></a>
        </h1>
    </div>

</div>
<div class="login_wrap">
    <div class="panel_inner">
        <div class="line">
            <h3 class="login_text">lOGIN</h3>
        </div>

        <div class="input_box">
            <form method="POST" th:action>
                <p>아이디</p><input type="text" id="loginId" placeholder="아이디를 입력해주세요">
                <p>비밀번호</p><input type="password" id="password" placeholder="비밀번호를 입력해주세요">
                <button class="loginBtn">로그인</button>
            </form>
        </div>


        <ul class="find_wrap">
            <li><a href="/members/join">회원가입</a></li>
            <li><a href="#">아이디찾기/비밀번호찾기</a></li>
        </ul>

        <div class="with_btn">
            <div class="with_btn_wrap">
                <p class="sign_text" id="google_join">
                    Sign in with
                </p>
                <ul>
                 {{^userName}}
                     <a href="/oauth2/authorization/google" role="button">
                     <li ><img src="/img/login/google/btn_google_normal.png" alt="구글 로그인"></li>
                     </a>

                     <a href="/oauth2/authorization/naver" role="button">
                    <li><img src="/img/login/naver/btn_naver_normal.png" alt="네이버 로그인"></li>
                    </a>
                {{/userName}}
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- jquery cdn  -->
<script src="https://code.jquery.com/jquery-3.6.0.js"
        integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
</body>

</html>