<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Service_test</title>
    <link rel="shortcut icon" href="/img/favicon.ico">
</head>
<style>
    *{padding:0;margin:0;}
    html,body{
        width:100%;
        height:100%;
    }
    img{width:100%; pointer-events: none;}
    .service_grid{
        width:100%;
        height:100%;
        display:flex;
        flex-direction: column;
        align-items: center;
    }
    .service_contents{
        width:50%;
        height:100%;

    }
</style>
<body>
<div class="service_grid">
    <div class="service_contents">
        <img src="/img/service-test.png" alt="">
    </div>
</div>
</body>
</html>